/*Shop Page*/

.bg_img img {
    filter: brightness(50%);
    width: 100%;
    float: left;
    height: 450px;
    position: relative;
}

h1 {
    text-transform: uppercase;
    color: white;
    margin-left: 5%;
    padding-top: 3%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 2%;
    margin-left: 5%;
}

.grid-item {
    background-color: white;
    color: black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    float: left;
    width: 300px;
    border-radius: 20px;
    transition: all .2s ease-in-out;
}

#funko1 {
    height: 200px;
    width: 170px;
}

#funko2 {
    height: 300px;
    width: 270px;
}

#funko3 {
    height: 300px;
    width: 270px;
}

#VideoGame {
    height: 200px;
    width: 200px;
}

#BoardGame {
    height: 300px;
    width: 270px;
}

.grid-item p {
    font-size: 20px;

}

button {
    width: 29%;
    height: 30px;
    background-color: #595EE0;
    color: white;
    font-weight: bold;
    transition: .2s ease-in-out 0s;
    border: 2px solid #595EE0;

}

button:hover {
    cursor: pointer;
    transform: scale(1.25);
}

#info {
    background-color: transparent;
    border: 2px solid black;
    margin-left: 20px;
    color: black;
}

footer {
    padding-top: 1%;
}

.grid-item:hover {
    transform: scale(1.05);
    filter: brightness(80%);
}

#moreInfo,
#moreInfo2,
#moreInfo3,
#moreInfo4,
#moreInfo5,
#moreInfo6,
#moreInfo7,
#moreInfo8,
#moreInfo9 {
    display: none;
    font-size: 18px;
    line-height: 30px;
}


@media only screen and (max-width: 600px) {
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 5%;
        margin-left: 10%;
    }
    
    .grid-item{
        margin-top: 5%;
    }
    
}

@media only screen and (min-width:768px) and     (max-width: 1024px) {
    .grid-container{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5%;
        margin-left: 7%;
    }
    
    .grid-item{
        margin-top: 5%;
    }
}
